<%= stylesheet_link_tag 'welcome' %>

<div class="center">
	<div class="white-box">
		
		<h1 style="color:inherit; cursor: pointer; text-decoration: none;">Book unique homes and experiences.</h1>

		<div>
			<p>WHERE</p>
		
			<form>
				<input type="text" name="place" placeholder="Anywhere">
			</form>
		</div><br>
		<div class="check">
			<p>CHECK IN</p><p>CHECK OUT</p>
		</div>
		<div class="box">
			<form class="check-box">
				<input type="text" name="check_in" placeholder="mm/dd/yyyy">
			</form>
			<form class="check-box">
				<input type="text" name="check_out" placeholder="mm/dd/yyyy">
			</form>	
		</div>	  
	</div>
</div>


	
	








<!-- <div id="signup"><a href="/sign_up">sign up</a></div> -->
		<!-- <br> -->


