// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@import 'bootstrap';

.form-control {
	padding: 11px;
	padding-left: 0px;
	width: 200px;
	height: 40px;
}

/** {
	border: 1px solid red;
}*/

/*.new_listing {
	background-color: white;
	margin: 50px;
	margin-right: 50%;
	height: 60%;
	padding-left: 30px;
	padding-top: 10px;

}*/

.background {
	
    
}

.card {
	margin: 5px;
	height: 500px;
}

.card-img-top {
	height: 40%;
}

.btn {
	
}